.btn-red2 {
	background-color: #530000;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: roboto;
}

.btn-red {
	background-color: #530000;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: roboto;
}
